.App {
  border-radius: 5px;
  background-color: #fff;
  min-height: 100vh;
}

.tabs {
  display: flex;
  position: fixed;
  justify-content: space-around;
  margin-bottom: env(safe-area-inset-bottom);
  bottom: 0;
  width: 100%;
  max-width: 768px;
  background: #fafafa;
  font-size: 12px;
  text-align: center;
  z-index: 1000;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  text-decoration: none;
  color: black;
}

.tab .tab-imgs {
  display: block;
  margin: 5px;
  width: 22px;
  height: 22px;
}