.my-search {
  background: #FAFAFA;
  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 8px;
}

.btn-search {
  display: flex;
  align-items: center;
  margin: 0px 18px 0px;
  height: 32px;
  background: #ECEDF2;
  border-radius: 18px;
}

.pic-search {
  display: block;
  margin-left: 7px;
  width: 24px;
  height: 24px;
  background: url(https://dss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1730713693,2130926401&fm=26&gp=0.jpg) no-repeat;
  background-size: cover;
}

.search-show {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #95A1AF;
  line-height: 20px;
  line-clamp: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}