.header-bar {
  display: flex;
  align-items: center;
  line-height: 24px;
  height: 40px;
  background: #ECEDF2;
  box-shadow: 0px 1px 0px 0px #EEEEEE;
}

.back {
  width: 24px;
  height: 24px;
  background: url('https://dss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1730713693,2130926401&fm=26&gp=0.jpg') no-repeat 0 4px;
  background-size: 16px 16px;
}

.title {
  flex: 1;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #464D5C;
}